
<% if notice %>
  <p class="alert alert-success" role="alert"><%= notice %></p>
<% end %>
<h1>Students</h1>
<%= link_to "New student", new_student_path %>

<div id="students">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>ID Number</th>
        <th>Track</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.name %></td>
          <td><%= student.age %></td>
          <td><%= student.IDno %></td>
          <td><%= student.track.name %></td>
          <td><%= link_to "Show", student %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>



